<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--EnableLogs-->
		<add key="EnableLogs" value="true"/>
		<!--EnableExtraLogs-->
		<add key="EnableExtraLogs" value="true"/>
		<add key="DataToBeRecived" value="Hello"/>
		<add key="DataToBeSent" value="Welcome"/>
		<add key="MissedData" value="MisMatchedData"/>
	</appSettings>
</configuration>